<form name="form" [formGroup]="form">
  <select formControlName="tipoCalculadora">
    <option *ngFor="let calc of calculadora">{{ calculadora.nome }}</option>
  </select>

  <div *ngIf="calculadora === 1">
    <select id="operacao" formControlName="operacao">
      <option *ngFor="let operacao of operacoes" [value]="operacao.id">{{ operacao.nome }}</option>
    </select>

    <input id="num1" type="number" formControlName="num1">
    <input id="num2" type="number" formArrayName="num2">
  </div>

  <div *ngIf="calculadora === 2">
    <select id="selectFrom" formControlName="tipoConversao">
      <option *ngFor="let conversaoDe of temperatura" [value]="conversaoDe.id">{{ conversaoDe.nome }}</option>
    </select>
    <select id="selectTo" formControlName="tipoConversaoPara">
      <option *ngFor="let conversaoPara of temperatura" [value]="conversaoPara.id">{{ conversaoPara.nome }}></option>
    </select>

    <input type="number" formControlName="valor">
  </div>

  <!-- <p>Resultado: {{ resultado }}</p> -->
  </form>
  