<form name="form" [formGroup]="form">
  <select formControlName="tipoCalculadora">
    <option *ngFor="let calc of calculadora">{{ calc?.nome }}</option>
  </select>
  
  <div>
    <select formControlName="operacao">
      <option *ngFor="let operacao of operacoes">{{ operacao?.nome }}</option>
    </select>
    
    <input id="num1" type="number" formControlName="num1">
    <input id="num2" type="number" formArrayName="num2">
  </div>
  
  <div>
    <select id="selectFrom" formControlName="tipoConversao">
      <option *ngFor="let conversaoDe of temperatura">{{ conversaoDe?.nome }}</option>
    </select>
    <select id="selectTo" formControlName="tipoConversaoPara">
      <option *ngFor="let conversaoPara of temperatura">{{ conversaoPara?.nome }}></option>
    </select>
    
    <input type="number" formControlName="valor">
  </div>
  
  <!-- <p>Resultado: {{ resultado }}</p> -->

  <button (click)="clearAll()" style="margin-top: 20px; display: flex;">Limpar</button>

</form>