<form name="form" [formGroup]="form">
  <select formControlName="tipoCalculadora">
    <option *ngFor="let tipo of calculadora" [value]="tipo.id">{{ tipo.nome }}</option>
  </select>

  <div *ngIf="calculadora === 1">
    <select id="operacao" formControlName="operacao">
      <option *ngFor="let operacao of operacoes" [value]="operacao.id">{{ operacao.nome }}</option>
    </select>

    <input id="num1" type="number" formControlName="num1">
    <input id="num2" type="number" formArrayName="num2">
  </div>

  <div *ngIf="calculadora === 2">
    <select id="selectFrom" formControlName="tipoConversao">
      <option *ngFor="let conversaoDe of temperatura" [value]="conversao.id">{{ conversao.nome }}</option>
    </select>
    <select id="selectTo" formControlName="tipoConversaoPara">
      <option *ngFor="let conversaoPara of temperatura" [value]="conversaoPara.id">{{ conversaoPara.nome }}></option>
    </select>

    <input type="number" formControlName="valor">
  </div>

  <p>Resultado: {{ resultado }}</p>


    <!-- <div class="calc">
      <h4>Operação:</h4>
      <select formControlName="operacao">
        <option *ngFor="let operacao of operacoes" [value]="operacao.id">
          {{ operacao.nome }}
        </option>
      </select>
      <label>Primeiro Número:</label>
      <input formControlName="num1" type="number" />
      <label>Segundo Número:</label>
      <input formControlName="num2" type="number" /> -->
      <!-- <button (click)="calcular()">Resultado</button> -->
    <!-- </div> -->
    <!-- Conversor de temperatura -->
    <!-- <div class="temperatura">
      <h4>Conversor de Temperatura</h4>
      <select formControlName="selectFrom">
        <option *ngFor="let temp of temperatura" [value]="temp.id">
          {{ temp.nome }}
        </option>
      </select>
      <p>Para</p>
      <select formControlName="selectTo">
        <option *ngFor="let temp of temperatura" [value]="temp.id">
          {{ temp.nome }}
        </option>
      </select>
      <p>Valor: <input formControlName="valor" /></p> -->
      <!-- <button (click)="converterTemperatura()">Converter Temperatura</button> -->
    <!-- </div>
    <button (click)="clearAll()">Limpar Tudo</button> -->
  </form>
  